body, textarea, input {
    color: #333;
    font: 16px/1.5 Helvetica, Arial, sans-serif;
}

input[type=button] {
    padding: 0 5px;
    border: 0;
    border-radius: 3px;
    background: #eee;
    box-shadow:
        inset 0 2px 2px white,
        inset 0 -2px 2px rgba(0, 0, 0, 0.1),
        0 2px 2px rgba(0, 0, 0, 0.2),
        0 0 2px rgba(0, 0, 0, 0.6);
    color: #333;
    text-shadow: 1px 1px 0 white;
}

input[type=text] {
    padding: 0 5px;
    border: 0;
    border-radius: 3px;
    box-shadow:
        inset 0 2px 2px rgba(0, 0, 0, 0.1),
        0 0 2px rgba(0, 0, 0, 0.6);
}

input:disabled {
    color: silver;
}

#loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
}

#loading span {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-weight: bold;
}

#actions {
    position: fixed;
    bottom: 0;
    left: 10px;
    z-index: 9001;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    display: none;
}

#actions input {
    display: none;
}

#actions .auth {
    -webkit-animation: jiggle 1s infinite alternate;
}

@-webkit-keyframes jiggle {
    0% { -webkit-transform: rotate(0); }
    66% { -webkit-transform: rotate(0); }
    83% { -webkit-transform: rotate(-2deg); }
    100% { -webkit-transform: rotate(2deg); }
}

#editor {
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    left: 0;
    padding: 10px 10px 50px 10px;
    outline: 0;
    border: 0;
    font-family: monospace;
}

#editor:disabled {
    color: silver;
}

#output {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    padding: 10px 10px 50px 10px;
    border-left: 1px dashed silver;
    overflow: auto;
}

#ack {
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 0 5px;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 12px;
    -webkit-transition: background 0.5s;
}

#ack a {
    color: white;
}

#ack:hover {
    background: rgba(0, 0, 0, 0.8);
}